@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 100px;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicio header {
    width: 100%;
}

#inicio header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}

#inicio header .contenido-header nav {
    position: absolute;
    left: 50%;
    transform: translate(-45%);
}

#inicio header .contenido-header nav ul {
    display: flex;
    list-style: none;
}

#inicio header .contenido-header .logo {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#inicio header .contenido-header .logotipo {
    width: 80px;
    height: 80px;
    margin: -8px 40px;
}

#inicio header .contenido-header nav ul li {
    text-align: center;
}

#inicio header .contenido-header nav ul li i {
    display: block;
    color: rgb(255, 0, 0);
    margin: 0 20px;
}

#inicio header .contenido-header nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin: 0 20px;
}

.nav-responsive {
    font-size: 25px;
    color: rgb(255, 0, 0);
    display: none;
}

.nav-responsive:hover {
    color: #423ff4;
}

#inicio header .contenido-header nav ul li:hover i {
    color: #423ff4;
}

#inicio .carrusel {
    position: relative;
    height: 100%;
}

#inicio .carrusel .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: center;
}

#inicio .carrusel .info h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';  
}

#inicio .carrusel .info button {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    border: none;
    background-color: #f4a03f;
    color: white;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

#inicio .carrusel .info button:hover {
    box-shadow: inset 0 100px 0 0 #6783ff;
}

#inicio .galeria {
    width: 100%;
    height: 100%;
}

#inicio .galeria-cell {
    width: 100%;
    margin-right: 10px;
    height: 100%;
}

#inicio .galeria-cell img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

/*SECCION DE MENU*/

#menu {
    padding: 50px 0;
}

#menu h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#menu .fila {
    display: flex;
    max-width: 1100px;
    margin: auto;
}

#menu .fila .item img {
    max-width: 150px;
}

#menu .fila .item {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    padding: 5px;
}

#menu .fila .item:hover {
    background-color: #f4a63f;
}

#menu .fila .item .info1 {
    margin-left: 15px;
    font-size: 14px;
}

#menu button {
    display: block;
    width: fit-content;
    margin:auto;
    font-size: 15px;
    border: none;
    background-color: #f4a03f;
    color: white;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

#menu button:hover {
    box-shadow: inset 0 100px 0 0 #6783ff;
}

footer {
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:1070px) {
    #inicio header .contenido-header nav {
        position: static;
        transform: translate(0);
    }
}

@media screen and (max-width:700px) {
    #menu .fila {
        display: block;
    }

    #menu .fila .item {
        width: 100%;
    }

    #inicio header .contenido-header nav {
        position: initial;
        display: none;
        transform: translate(0);
    }

    .nav-responsive {
        display: block;
    }

    #inicio header .contenido-header {
        padding: 20px;
    }

    #inicio header .contenido-header nav.responsive {
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: 80vh;
        background-color: #252A2E;
        z-index: 99;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}