@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 200px;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicio header {
    width: 100%;
}

#inicio header .contenido-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    position: relative;
}

#inicio header .contenido-header nav {
    position: absolute;
    left: 50%;
    transform: translate(-45%);
    -webkit-transform: translate(-45%);
    -moz-transform: translate(-45%);
    -ms-transform: translate(-45%);
    -o-transform: translate(-45%);
}

#inicio header .contenido-header nav ul {
    display: flex;
    list-style: none;
}

#inicio header .contenido-header .logotipo {
    width: 80px;
    height: 80px;
    margin: -5px 30px;
}

#inicio header .contenido-header nav ul li {
    text-align: center;
}

#inicio header .contenido-header nav ul li i {
    display: block;
    color: rgb(255, 0, 0);
    margin: 0 10px;
    
}

#inicio header .contenido-header nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin: 0 20px;
}


.contact {
    margin: 0 20px;
    background-color: #f4a03f;
    border: .5px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 2px 16px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f4a63f;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact:hover {
    box-shadow: inset 0 100px 0 0 #6783ff;
}

.nav-responsive {
    font-size: 25px;
    color: black;
    display: none;
}

#inicio header .contenido-header nav ul li:hover i {
    color: #423ff4;
}

#inicio .carrusel {
    position: relative;
    height: 100%;
}

#inicio .carrusel .info {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-align: center;
    font-size: 30px;
}

#inicio .carrusel .info h2 {
    font-size: 45px;
    margin-bottom: 20px;    
}

#inicio .carrusel .info button {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    border: none;
    background-color: #f4a03f;
    color: white;
    padding: 7px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}

#inicio .carrusel .info button:hover {
    box-shadow: inset 0 100px 0 0 #6783ff;
}
#inicio .galeria {
    width: 100%;
    height: 100%;
}

#inicio .galeria-cell {
    width: 110%;
    margin-right: 5px;
    height: 100%;
}

#inicio .galeria-cell img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.info {
    font-family: 'Dancing Script';
}


#menu {
    padding: 50px 0;
}

#menu h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#menu .fila {
    display: flex;
    max-width: 1100px;
    margin: auto;
}

#menu .fila .item img {
    max-width: 250px;
}

#menu .fila .item {
    display: flexbox;
    text-align: center;
    align-items: center;
    margin: 20px 33px;
    padding: 0px;
}

#menu .fila .item:hover {
    background-color: #f4a63f;
}

#menu .fila .item .info1 {
    margin-left: 15px;
    font-size: 14px;
}

#menu button {
    display: block;
    width: fit-content;
    margin:auto;
    font-size: 15px;
    border: none;
    background-color: #f4a03f;
    color: white;
    padding: 7px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}

#menu button:hover {
    box-shadow: inset 0 100px 0 0 #6783ff;
}
.info1 {
    font-family: 'Times New Roman', Times, serif;
}

.info1 p {
    font-weight: bold;
}

footer {
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}
